.about {
	width: 1024px;
	height: auto;
	margin: auto;
}
.filter {
	width: 100%;
	height: auto;
	background-color: green;
	margin: 15px 15px;
	color: white;
	text-align: center;
}
.filter li {
	list-style-type: none;
	margin: 10px 15px;
	font-size: 1.25em;
	display: inline-block;
}
.filter li a {
	color: white;
	text-decoration: none;
}
.filter li a:hover {
	color: Dodgerblue;
	cursor: pointer;
}
.learning, .proficient, .advanced {
	width: 200px;
	height: auto;
	margin: 0 auto;
	list-style-type: none;
}
.advanced li a {
	color: #0039e6;
	text-decoration: underline;
}
.learning li a {
	color: #00bfff;
	text-decoration: underline;
}
.proficient li a {
	color: #1a8cff;
	text-decoration: underline;
}
.line {
	width: 675px;
	height: 2px;
	background-color: Pink;
	margin: 15px auto;
}
.portfolio {
	height: 700px;
	width: 100%;
	overflow: auto;
	background-color: black;
	text-align: center;
	margin: auto;
}
.portfolio a {
	color: teal;
	text-decoration: none;
}
.portfolio a:hover {
	color: purple;
}
.portfolio p, h2, h3 {
	color: white;
}
.skillsContainer {
	width: 200px;
	height: auto;
	display: inline-block;
	margin: 0 auto;
}
.skillLevel li {
	display: inline-block;
	padding: 3px;
	border-radius: 5px;
	margin: 5px auto 10px;
	list-style-type: none;
}
.technical {
	display: flex;
	flex-wrap: wrap;
	width: 700px;
	margin: auto;
}