#mainVideo {
	margin: auto;
	display: block;
	margin-top: 10px;
}
.category h2 {
	color: white;
	text-align: center;
	border-bottom: 2px solid white;
}
.cycling {
	width: 500px;
	height: 500px;
	background-color: black;
	margin: auto;
}
.extraContainer {
	width: 100%;
	background-color: red;
	height: 700px;
	overflow: auto;
	margin: auto;
}
.filter {
	width: 100%;
	height: auto;
	color: white;
	background-color: green;
	text-align: center;
}
.filter li {
	list-style-type: none;
	display: inline-block;
	margin: 10px 15px;
	transition: color 0.4s;
	-webkit-transition: color 0.4s;
	font-size: 1.25em;
}
.filter li:hover {
	color: Dodgerblue;
	cursor: pointer;
}
.filter li a {
	color: black;
	text-decoration: none;
}
.filter li a:hover {
	color: white;
}
.videoContainer {
	width: 100%;
	height: auto;
	overflow: auto;
	margin: auto;
	background-color: blue;
	margin-top: 20px;
}
.videos {
	display: flex;
	flex-wrap: wrap;
	width: 1024px;
	margin: auto;
}
.videos ul {
	margin: auto;
}
.videos ul li {
	background-color: rgb(9, 65, 98);
	height: 40px;
	width: 166px;
	text-align: center;
	list-style-type: none;
	color: White;
	padding: 2px;
}
.video-item {
	border: 2px solid white;
	display: inline-block;
	margin: 10px auto;
}
.video-item:hover {
	cursor: pointer;
	border: 2px solid Dodgerblue;
}