object, svg {
	position: absolute;
	width: 600px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
}
path, line, polyline {
    stroke-width: 2;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: draw;
    animation-timing-function: linear;
    &#first {
      stroke: Dodgerblue;
      stroke-dasharray: 800;
      stroke-dashoffset: 800;
      animation-duration: 15s;
      &.glasses {
      	stroke: #00ffcc;
      }
    }
}
@keyframes draw {
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
header, footer {
	opacity: 0;
}
.navigation {
	background-color: black;
	color: white;
	width: 125px;
	height: 75px;
	text-align: center;
	outline-offset: 2px;
	font-size: 2em;
	line-height: 75px;
	display: none;
	a {
		text-decoration: none;
		color: white;
	}
	&.about {
		border: 2px solid rgb(0, 61, 153);
		outline: 2px solid rgb(0, 102, 255);
		&:hover {
			-webkit-box-shadow: 0px 0px 35px 13px rgba(0, 61, 153,1);
			-moz-box-shadow: 0px 0px 35px 13px rgba(0, 61, 153,1);
			box-shadow: 0px 0px 35px 13px rgba(0, 61, 153,1);
			cursor: pointer;
		};
	}
	&.extra {
		border: 2px solid rgb(0, 0, 153);
		outline: 2px solid rgb(0, 0, 255);
		&:hover {
			-webkit-box-shadow: 0px 0px 35px 13px rgba(0, 0, 153, 1);
			-moz-box-shadow: 0px 0px 35px 13px rgba(0, 0, 153, 1);
			box-shadow: 0px 0px 35px 13px rgba(0, 0, 153, 1);
			cursor: pointer;
		};
	}
	&.projects {
		border: 2px solid Dodgerblue;
		outline: 2px solid Cyan;
		&:hover {
			cursor: pointer;
			-webkit-box-shadow: 0px 0px 35px 13px rgba(0,146,214,0.98);
			-moz-box-shadow: 0px 0px 35px 13px rgba(0,146,214,0.98);
			box-shadow: 0px 0px 35px 13px rgba(0,146,214,0.98);
		};
	}
}
#chair {
	background-color: black;
	width: 30%;
	left: 200px;
}
#container {
	width: 800px;
	height: 250px;
	position: relative;
	margin: auto;
	display: flex;
	ul {
		margin: auto;
	}
	li {
		list-style-type: none;
		padding: 0;
		display: none;
		margin: 0px 25px;
	}
}