.attribute {
	color: Dodgerblue;
	width: 400px;
	background-color: ;
	display: block;
}
.attribute p {
	width: auto;
	margin: 0px;
	padding: 0px;
	color: Dodgerblue;
	text-align: left;
	font-family: Lucida Sans Unicode;
}
.avatar {
	width: 600px;
	height: auto;
	background-color: ;
}
.profile {
	width: 1000px;
	height: auto;
	margin: 50px auto;
	background-color: ;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}
