
.description {
	width: 500px;
	background-color: white;
	height: 80px;
	display: block;
	margin: 0;
	color: black;
	text-decoration: none;
}
.description a:visited {
	color: black;
}
.filter {
	width: 100%;
	height: auto;
	color: white;
	text-align: center;
	background-color: ;
}
.filter li {
	list-style-type: none;
	margin: 10px 25px;
	display: inline-block;
	transition: color 0.4s;
	-webkit-transition: color 0.4s;
	font-size: 1.25em;
}
.filter li a:hover {
	color: Dodgerblue;
	cursor: pointer;
}
.filter li a {
	color: white;
	text-decoration: none;
	transition: color 0.4s;
	-webkit-transition: color 0.4s;
}
.filter li a:hover {
	color: Dodgerblue;
	cursor: pointer;
}
.github {
	color: blue;
	background-color: Yellow;
}
.github:hover {
	background-color: Dodgerblue;
}
.project {
	width: 500px;
	height: 430px;
	text-align: center;
	margin: auto;
	border: 2px solid transparent;
}
.project:hover {
	cursor: pointer;
	border: 2px solid Dodgerblue;
}
.project h2 {
	width: 500px;
	height: 40px;
	background-color: rgb(9, 65, 98);
	color: white;
	line-height: 40px;
	text-align: center;
	display: block;
	margin: 0;
}
.project img {
	width: 500px;
	height: 280px;
	display: block;
	margin: 0;
}
.portfolio {
	height: 650px;
	width: 100%;
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
}
.portfolio a {
	text-decoration: none;
}
.skillset {
	width: 500px;
	height: 30px;
	background-color: rgb(9, 65, 98);
}
.skillset li {
	width: auto;
	background-color: black;
	color: Dodgerblue;
	list-style-type: none;
	display: inline-block;
	margin: 5px;
	padding: 2px 3px;
	font-family: Arial;
}